@model Irdata.Models.VolunteeringEvents
<section class="hero-section overlay bg-cover" data-background="~/images/banner/banner-1.jpg" name="introSection">
    <div class="container">
        <div class="hero-slider">
            <!-- slider item -->
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-white">
                            Volunteering Event Details
                        </h1>
                        <p class="text-muted mb-4">
                            <span style="color: rgb(255, 255, 255); font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
                                View the details of the event here.
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <h4 class="text-white">Event Details</h4>
                            <hr />
                            @if (Model.VolunteerFiles.Any(f => f.FileType == FileType.Volunteer))
                            {
                                <img src="~/VolunteerFile/?id=@Model.VolunteerFiles.First(f => f.FileType == FileType.Volunteer).VolunteerFileId" class="card-img-top rounded-0" />
                            }
                            <div class="form-group">
                                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2 text-white" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Date, new { htmlAttributes = new { @class = "form-control " } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2 text-white" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2 text-white" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 text-white" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
