@model Irdata.Models.FundMe
<section class="hero-section overlay bg-cover" data-background="~/images/banner/banner-1.jpg" name="introSection">
    <div class="container">
        <div class="hero-slider">
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-white">
                            Fund Me Pledge
                        </h1>
                        <p class="text-muted mb-4">
                            <span style="color: rgb(255, 255, 255); font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
                                Please Input the amount of Money you want to pledge.
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        @using (Html.BeginForm("Pledge", "FundMes", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                <h4>Fund Me Details</h4>
                                <hr />
                                @if (Model.FundMeFiles.Any(f => f.FileType == FileType.Fund)!=false)
                                {
                                    <img src="~/FundMeFile/?id=@Model.FundMeFiles.First(f => f.FileType == FileType.Fund).FundMeFileId" class="card-img-top rounded-0" />
                                }
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2 text-white" })
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.Title, new { htmlAttributes = new { @class = "form-control " } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2 text-white" })
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.date, new { htmlAttributes = new { @class = "form-control " } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.duration, htmlAttributes: new { @class = "control-label col-md-2 text-white" })
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.duration, new { htmlAttributes = new { @class = "form-control " } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 text-white" })
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control " } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CurrentFunds, htmlAttributes: new { @class = "control-label col-md-2 text-white" })
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.CurrentFunds, new { htmlAttributes = new { @class = "form-control " } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TargetFunds, htmlAttributes: new { @class = "control-label col-md-2 text-white" })
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.TargetFunds, new { htmlAttributes = new { @class = "form-control " } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pledgeInput" class="control-label col-md-2 text-white" title="Pledge"></label>
                                    <div class="form-horizontal">
                                        <div class="col-md-10">
                                            @{
                                                string s = ViewBag.mess;
                                                if (s != null)
                                                {
                                                    int number = Convert.ToInt32(s);
                                                    <input type="number" name="pledgeInput" class="form-control" min="100" value="@number" />
                                                }
                                                else
                                                {
                                                    <input type="number" name="pledgeInput" class="form-control" min="100" />
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>

                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

